*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #2C3333;
    color: #F5F2E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    margin-top: 5%;

    width: 50%;
    height: 60%;
    color: #2C3333;
    background-color: #F5F2E7;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#number-container{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#buttons{
    margin-top: 5%;
}
#calculate{
    margin-top: 5%;
    width: 6rem;
    background-color: #0a0a6a;
    color: #F5F2E7;

    border-radius: 1rem;
}
#calculate:hover{
    background-color: #36368d;
    width: 6.1rem;
}
#reset{
    margin-top: 5%;
    width: 6rem;
    background-color: #0a0a6a;
    color: #F5F2E7;

    border-radius: 1rem;
}
#reset:hover{
    background-color: #36368d;
    width: 6.1rem;
}


#table-container{
    width: 100%;
    display: flex;
    justify-content: center;

}
#table{
    width: 40%;
    height: 100%;

}
footer{
    margin-top: 5%;
}
@media (max-width:430px) {
    section{
        margin-top: 5%;
    
        width: 100%;
        height: 60%;
  
    }
}